<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <MasterCard_Masterpass>
            <version>1.0.0</version>
        </MasterCard_Masterpass>
    </modules>
    <adminhtml>	
        <events>
            <controller_action_predispatch>
                <observers>
                    <opc_check_related>
                        <type>singleton</type>
                        <class>masterpass/observer</class>
                        <method>checkPrivateKey</method>
                    </opc_check_related>
                </observers>
            </controller_action_predispatch>
        </events>		
    </adminhtml>
    <global>
        <models>
            <masterpass>
                <class>MasterCard_Masterpass_Model</class>
            </masterpass>
        </models>
        <resources>
            <mastercard_masterpass_setup>
                <setup>
                    <module>MasterCard_Masterpass</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mastercard_masterpass_setup>
            <mastercard_masterpass_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mastercard_masterpass_write>
            <mastercard_masterpass_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mastercard_masterpass_read>
        </resources>
        <blocks>
            <masterpass>
                <class>MasterCard_Masterpass_Block</class>
            </masterpass>
            <checkout>
                <rewrite>
                   <!-- uncommend this line if using default tamplate -->
                   <!-- <links>MasterCard_Masterpass_Block_Onepage_Links</links>-->
                    <cart_sidebar>MasterCard_Masterpass_Block_Onepage_Sidebar</cart_sidebar>
                    <onepage_link>MasterCard_Masterpass_Block_Onepage_Link</onepage_link>
                </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <masterpass>
                <class>MasterCard_Masterpass_Helper</class>
            </masterpass>
        </helpers>
        <events>
            <controller_action_predispatch>
                <observers>
                    <controller_action_before>
                        <class>masterpass/observer</class>
                        <method>mastterPassToControllerActionPostDispatch</method>
                    </controller_action_before>
                </observers>
            </controller_action_predispatch>
            <checkout_cart_product_add_after>
                <observers>
                    <controller_action_before>
                        <class>masterpass/observer</class>
                        <method>noPassKeyNotification</method>
                    </controller_action_before>
                </observers>
            </checkout_cart_product_add_after>
        </events>
    </global>
    <frontend>
        <routers>
            <masterpass>
                <use>standard</use>
                <args>
                    <module>MasterCard_Masterpass</module>
                    <frontName>masterpass</frontName>
                </args>
            </masterpass>
        </routers>
        <layout>
            <updates>
                <button>
                    <file>masterpass/masterpass.xml</file>
                </button>
            </updates>
        </layout>
    </frontend>
    <default>
        <masterpass>
            <config>
                <enabled>0</enabled>
                <buttonsize>147x034px</buttonsize>
                <sbconsumerkey></sbconsumerkey>
                <sbcheckoutidentifier></sbcheckoutidentifier>
                <sbkeystorepassword></sbkeystorepassword>
                <prconsumerkey></prconsumerkey>
                <prcheckoutidentifier></prcheckoutidentifier>
                <prkeystorepassword></prkeystorepassword>
                <shippingsuppression>false</shippingsuppression>
                <requestbasiccheckout>false</requestbasiccheckout>
                <rewards>false</rewards>
                <enabledlearnmore>1</enabledlearnmore>
                <cfcard>1</cfcard>
                <cfaddress>1</cfaddress>
                <environment>sandbox</environment>
                <acceptedcards>master,amex,visa</acceptedcards>
                <acceptancemark>050px</acceptancemark>
                <expresstextcolor>#FFFFFF</expresstextcolor>
                <expressbuttoncolor>#a00000</expressbuttoncolor>
                <checkouterrormessage>Masterpass is currently not available, try another payment method.</checkouterrormessage>
                <learnmoremasterpasslink><![CDATA[<a " onclick="window.open('http://www.mastercard.com/mc_us/wallet/learnmore/en/','','scrollbars,width=700,height=690'); return false;" style="vertical-align: top;font-size: 13px;float:left;" href="javascript:void(0);">
                                Learn more
                                </a>]]></learnmoremasterpasslink>
            </config>
        </masterpass>
    </default>

</config>